.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: #bee4a8;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
  position: sticky;
  z-index: 100;
  top: 0;
}


.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.store-name{
  font-size: 36px; 
  color: #333;
  font-weight: inherit; 
}

.search {
  flex: 1; 
  margin: 0 220px; 
}

.search input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #eaeaea;
  font-size: 16px;
  color: #333;
  outline: none;
}

.cart-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.nav-icon {
  font-size: 28px;
  margin-right: 5px;
}

.sign-in button,
.log-in button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #5c5959;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: auto;
}

.sign-in {
  margin-right: 10px;
}

.sign-in button:hover,
.log-in button:hover {
  background-color: #272626;
}

@media screen and (max-width: 768px) {
  .search,
  .cart-icon,
  .sign-in,
  .log-in {
    width: 50%;
    margin-top: 10px;
  }

  .cart-icon {
    display: flex;
    justify-content: flex-end;
  }
}



